
  <main class="container">
    <div class="bg-dark m-3 p-2 rounded">
        <h1 class="text-center text-white">TAREA SEMANA 9</h1>
    </div>
   

    <div *ngFor="let personaje of personajes" class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">{{personaje.species}}</strong>
                <h3 class="mb-0">{{personaje.name}}</h3>
                <div class="mb-1 text-muted">{{personaje.gender}}</div>
                <p class="card-text mb-auto">Creado en {{personaje.created}}</p>
               
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" width="200" height="250" role="img" src="{{personaje.image}}" preserveAspectRatio="xMidYMid slice" alt="">
              </div>
            </div>
          </div>


    </div>



</main>